# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [3]:
# Write function that locates outliers using standard deviation
def find_outliers(data, std_dev_threshold=3):
    data = np.array(data)
    mean = np.mean(data)
    std_dev = np.std(data)
    outliers = []
    for i in range(len(data)):
        z_score = (data[i] - mean) / std_dev
        if abs(z_score) > std_dev_threshold:
            outliers.append(data[i])
    return outliers

In [4]:
# Find anomalous transactions for 3 random card holders
query = """
        select * from credit_card
        where cardholder_id in (1, 2, 3)
        """
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
query_df = pd.read_sql(query, engine)
query_df

                  card  cardholder_id
0     3517111172421930              1
1  4761049645711555811              1
2  4866761290278198714              2
3         675911140852              2
4       30078299053512              3

In [5]:
# create a list of cardholder 1 purchases
query = """
        select * from transaction
        where card in (3517111172421930, 4761049645711555811)
        """
cardholder1_query_df = pd.read_sql(query, engine)
cardholder1_data = cardholder1_query_df['amount']
cardholder1_data = cardholder1_data.tolist()

In [6]:
# create a list of cardholder 2 purchases
query = """
        select * from transaction
        where card in (4866761290278198714, 675911140852)
        """
cardholder2_query_df = pd.read_sql(query, engine)
cardholder2_data = cardholder2_query_df['amount']
cardholder2_data = cardholder2_data.tolist()

In [7]:
# create a list of cardholder 3 purchases
query = """
        select * from transaction
        where card in (30078299053512)
        """

cardholder3_query_df = pd.read_sql(query, engine)
cardholder3_data = cardholder3_query_df['amount']
cardholder3_data = cardholder3_data.tolist()

In [8]:
find_outliers(cardholder1_data)

[1691.0, 1302.0, 1790.0, 1660.0, 1894.0]

In [9]:
find_outliers(cardholder2_data)

[]

In [10]:
find_outliers(cardholder3_data)

[1119.0, 1159.0, 1160.0]

## Identifying Outliers Using Interquartile Range

In [14]:
# Write a function that locates outliers using interquartile range
def find_outliers_iqr(data):
    q1, q3 = np.percentile(data, [25, 75])
    iqr = q3 - q1
    lower_bound = q1 - (iqr * 1.5)
    upper_bound = q3 + (iqr * 1.5)
    outliers = [x for x in data if x < lower_bound or x > upper_bound]
    return outliers

In [15]:
# Find anomalous transactions for 3 random card holders
find_outliers_iqr(cardholder1_data)

[1691.0,
 283.0,
 1302.0,
 1790.0,
 1017.0,
 1056.0,
 1060.0,
 484.0,
 267.0,
 1660.0,
 1894.0,
 1033.0]

In [16]:
find_outliers_iqr(cardholder2_data)

[]

In [17]:
find_outliers_iqr(cardholder3_data)

[1119.0, 1159.0, 1160.0, 188.0, 626.0, 757.0, 206.0, 1053.0, 1054.0, 313.0]